<div class="navbar navbar-inverse navbar-default" role="navigation" ng-init="validUser = <%= is_user? %>">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/" style="color:white;">AEPi Fantasy</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="dropdown <%= is_baseball_active %>">
          <a class="dropdown-toggle">Baseball <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/baseball/champions">Champions</a></li>
            <li><a href="/baseball/results#/results/<%= current_year('baseball') %>">Season Results</a></li>
            <li ng-show="currentUser"><a href="/baseball/names#/names">Team Names</a></li>
            <li><a href="/baseball/records#/records/current">Records</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav">
        <li class="dropdown <%= is_football_active %>">
          <a class="dropdown-toggle">Football <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/football/champions">Champions</a></li>
            <li><a href="/football/results#/results/<%= current_year('football') %>">Season Results</a></li>
            <li ng-show="currentUser"><a href="/football/names#/names">Team Names</a></li>
            <li><a href="/football/records#/records/current">Records</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav" ng-show="currentUser">
        <li class="<%= is_profiles_active %>">
          <a href="/profiles">Profiles</a>
        </li>
      </ul>
      <ul class="nav navbar-nav" ng-show="isAdmin()">
        <li class="dropdown <%= is_admin_active %>">
          <a class="dropdown-toggle">Admin <b class="caret"></b><span class="badge pull-right">{{getAlerts(['admin'])}}</span></a>
          <ul class="dropdown-menu">
            <li><a href="/admin/users#/users/current">Users</a></li>
            <li><a href="/admin/editResults">Results<span class="badge pull-right">{{getAlerts(['admin','results'])}}</span></a></li>
            <li><a href="/admin/confirmRecords">Records<span class="badge pull-right">{{getAlerts(['admin','records'])}}</span></a></li>
            <li><a href="/admin/events#/admin/events/live">Events</a></li>
          </ul>
        </li>
      </ul>

      <form class="navbar-form pull-right" style="padding-top:2px;" ng-hide="loginSubmitted">
        <span class="login-failed" ng-show="loginFailed">Login Failed</span>
        <input class="span2 form-control" type="text" style="height:30px; width:130px; padding:5px 12px;" placeholder="Username" ng-model="user.name">
        <input class="span2 form-control" type="password" style="height:30px; width:130px" placeholder="Password" ng-model=" user.password">
        <button type="submit" class="btn btn-sm" style="color:white" ng-click="signIn()">Sign in</button>
      </form>
      <ul class="nav navbar-nav pull-right" ng-show="loginSubmitted">
        <li ng-show="currentUser">
          <a class="dropdown-toggle" data-toggle="dropdown">Logged in as: {{currentUser.username}}</a>
          <ul class="dropdown-menu">
            <li><a href="/user/changePassword">Change Password</a><li>
            <li><a ng-click="logout()">Logout</a></li>
          </ul>
        </li>
        <li ng-hide="currentUser || loginFailed">
          <div class="loading"> </div>
        </li>
      </ul>
    </div>
  </div>
</div>
